{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul style="padding-left: 2px; list-style-type: disc;">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- if .HasChildren }}
        <li class="hasChildren">
          <label for="{{ .Name | safeHTML }}">
          <input type="checkbox" id="{{ .Name | safeHTML }}"/>
          <style>
              #{{ .Name | safeHTML }} {
                  display: none;
              }

              #{{ .Name | safeHTML }} ~ a {
                user-select: none;
              }
              
              #{{ .Name | safeHTML }}:checked ~ .childMenu {
                  /* Make height of menu height of children.
                    Would likely need to change this if has sub menu
                  */
                  max-height: {{(.Children | len)}}00px;
                  overflow: visible;
                  opacity: 1;
                  padding: 4px 14px;
                  font-size: .8em;
              }
          </style>
    {{- else }}
        <li>
    {{- end}}
    
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ or (T .Identifier) .Name | safeHTML }}</a>
      {{- with .Children }}
        <ul class="childMenu">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
      {{- if .HasChildren }}
    </label>
{{- end}}
    </li>
  {{- end }}
{{- end }}